@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}

body {
  background-color: #E6E7E8;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #00ADEE;
}

.btn-primary:hover {
  background-color: #009dd9;
}

.navbar {
  background-color: #00104C;
  border-radius: 0;
}

.navbar-collapse, .navbar-form {
  border: 0;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar .navbar-brand:hover {
  color: #fff;
  cursor: default;
}

.navbar .btn  {
  margin: 10px 10px;
}

.delete {
  margin-bottom: 10px;
}

.delete button {
  margin-left: 5px;
  margin-right: 5px;
}

.modal-content {
  max-width: 400px;
  margin: auto;
}

.form-control {
  border-radius: 0;
}

.input-group-addon {
  border-radius: 0;
  cursor: default;
}

select, option {
  text-transform: uppercase;  
}



 /*--- CUSTOMERS TABLE STYLE ---*/

.table {
  font-size: 1.3em;
  background-color: #fff;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.premium {
  display: inline-block;
  width: 100%;
  padding: 5px;
  background-color: #FFDF00;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.suspended {
  display: inline-block;
  width: 100%;
  padding: 5px;
  background-color: #b3b3b3;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}


.th-sort span:hover {
  cursor: pointer;
  color: #666666;
  text-shadow: 0.5px 0.5px #000;
}

.glyphicon-ban-circle {
  color: #f00;
  font-weight: bold;
}

.glyphicon-edit {
  color: #00ADEE;
}

/* -------------------------------------- */
