<div class="modals">
  <div class="modal-header">
      <h2 class="modal-title text-center">Create new customer</h3>
  </div>
  <div class="modal-body">

      <form name="frm">

          <input type="text" name="name" ng-model="customer.customer_name" placeholder="Name" class="form-control" required>

          <div class="input-group">
            <span class="input-group-addon" id="phone-number-prefix">+381</span>
            <input type="text" name="number" ng-model="customer.phone_number" placeholder="Phone number" class="form-control" aria-describedby="phone-number-prefix" required>
          </div>

          <select class="form-control" ng-options="priority for priority in priorities" ng-model="customer.priority" required></select>
      </form>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-disabled="frm.$invalid" ng-click="createCustomer(customer)">Save</button>
          <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
      </div>
  </div>
</div>