<div class="modals delete">
	<div class="modal-header">
		<h2 class="text-center">Delete customer?</h2>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<button class="btn btn-danger" ng-click="deleteCustomer(customer)">Delete</button>
				<button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
			</div>
		</div>
	</div>
</div>