<div class="modals">
    <div class="modal-header">
        <h2 class="modal-title text-center">Edit customer info</h2>
    </div>
    <div class="modal-body">

        <form name="frm">
            <span style="display: none;" ng-init="changedCustomer.id = customer.id"></span>
            <input type="text" name="name" ng-value="customer.customer_name" ng-init="changedCustomer.customer_name = customer.customer_name" ng-model="changedCustomer.customer_name" placeholder="Name" class="form-control" required>

            <div class="input-group">
                <span class="input-group-addon" id="phone-number-prefix">+381</span>
                <input type="text" name="number" ng-value="customer.phone_number" ng-init="changedCustomer.phone_number = customer_name.phone_number" ng-model="changedCustomer.phone_number" placeholder="Phone number" class="form-control" aria-describedby="phone-number-prefix" required>
            </div>

            <select class="form-control" ng-options="priority for priority in priorities" ng-init="changedCustomer.priority = customer.priority" ng-model ="changedCustomer.priority" required></select>
        
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="frm.$pristine" ng-click="editCustomerInfo(changedCustomer)">Save</button>
            <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
        </div>
        </form>
    </div>
</div>