<div>
	<nav class="navbar navbar-default">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <p class="navbar-brand">C-Service</p>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <form class="navbar-form navbar-left">
	        <div class="form-group">
	          <input type="text" class="form-control" ng-model="searchCustomers" placeholder="Search customers">
	        </div>
	      </form>

	      <ul class="nav navbar-nav navbar-right">
	        <li><button class="btn btn-default btn-create pull-right" ng-click="openCreateModal()">Create</button></li>
	        <li><button class="btn btn-primary btn-logout pull-right" ng-click="logout()">Logout</button></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	</nav>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th ng-click="sortType='firstName'; sortReverse=!sortReverse" class="th-sort" id="name"><span>Name <span class="glyphicon glyphicon-sort"></span><span></th>

					<th ng-click="sortType='firstName'; sortReverse=!sortReverse" class="th-sort" id="number"><span>Number <span class="glyphicon glyphicon-sort"></span><span></th>
					
					<th ng-click="sortType='firstName'; sortReverse=!sortReverse" class="th-sort"><span>Priority <span class="glyphicon glyphicon-sort"></span></span></th>
					<th>Delete customer</th>
					<th>Edit customer</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="customer in allCustomers | orderBy:sortType:sortReverse | filter:searchCustomers">
					<td>{{customer.customer_name}}</td>
					<td>+381{{customer.phone_number}}</td>
					<td><span ng-class="customer.priority==='premium' ? 'premium' : 'suspended'">{{customer.priority}}</span></td>
					<td><button class="btn btn-default btn-lg" ng-click="openDeleteModal(customer)"><span class="glyphicon glyphicon-ban-circle"></button></td>
					<td><button class="btn btn-default btn-lg" ng-click="openEditModal(customer)"><span class="glyphicon glyphicon-edit"></button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>