<div>
	<form name="frm" class="form-signin">
    	<h2 class="form-signin-heading">Please log in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Your username" ng-model="user.username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Your password" ng-model="user.password" required>
        <button class="btn btn-lg btn-primary btn-block" ng-disabled="frm.$invalid" ng-click="login(user)">Login</button>
	</form>

</div>